{% extends "header.html" %}

{% block title %}Your Account{% endblock %}

{% block content %}
<h1>Hi {{first_name}}, here is your account info!</h1>
<p>
<table border=1px>
    <tr>
        <td>First Name:</td>
        <td>{{first_name}}</td>
    </tr>
    <tr>
        <td>Last Name:</td>
        <td>{{last_name}}</td>
    </tr>
    <tr>
        <td>Username:</td>
        <td>{{username}}</td>
    </tr>
    <tr>
        <td>Email Address:</td>
        <td>{{email}}</td>
    </tr>
	<tr>
		<td>Insurance ID:</td>
		<td>{{ID}}</td>
	</tr>
</table>
</p>
<div style="width:1000px; height:100px; <!--background-color:green-->">
    <p>For security reasons, at this time we cannot allow you to change your information via the website. If you
        wish to change information please send a letter to your preferred hospital asking for the changes to be
        made. We hope to have this important <span style="color:red">super secret security issue</span> fixed
        for a future update to the site.</p>
</div>
<!--<div style = "width:1000px; height:200px;">
    <p>Click <a href = "http://127.0.0.1:8000/account_info_change">here</a> to change your account info</p>-->
</div>

{% endblock %}
