{% extends "header.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<center>
    {%if form.errors %}
    <p class='error'>Sorry, that's not a valid username/password.</p>
    {% endif %}
    <form id="login" action="/auth/" method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" value="" id="username"> <br>
        <label for="password">Password:</label>
        <input type="password" name="password" value="" id="password"><br>
        <input type="submit" value="Login"> <br>
        Don't have an account? Register <a href="/register/">here!</a>
    </form>
</center>
{% endblock %}

